.Chart {
	margin-top: 20px;
	padding: 20px 0;
	width: 100%;
	border: 1px solid white;
	text-align: center;
	background-color: white;
	border-radius: 4px;
	color:#ccc;
}

table {
	width: 100%;
}

th{
	color: #707070;
}

th, td {
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}